<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>j-sentence</title>
    <meta http-equiv="cache-control" content="no-cache" />
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script type='text/babel' src="static/js/components.js?v=52"></script>
    <link rel='stylesheet' href='static/css/styles.css?v=27'>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
